<div class="container">
    
<meta charset="UTF-8">   

<h2>この業務記録を登録します</h2>
<%= form_tag('/home/ctgs', method: :post, id: "tou") do %>

        <div><textarea id="result_text" name="jtxt" rows="10" cols="60" ></textarea></div>
       
        
         <input type="hidden" id="p" name="st" value="" />

<% end %> 

<%= form_tag('/home/ctg', method: :get ) do %>
 
  <p>業務の種類*必須<br>
    
    <select name='ost' id="stid" autofocus>
        
    　 <option value="">選択してください</option>
    　
       <% @categories.each do |ctg| %> 
         <option value="<%= ctg.id %>"><%= ctg.ctg %></option>
       <% end %>
       
    </select>
    
  </p>
 

 <% end %> 
    
<input type="button" value="登録" onclick="regist()">

    
   
 <script>
 
 　$('[name=ost]').change(function() {
    // 選択されているvalue属性値を取り出す category_id
    var val = $('[name=ost]').val();
        console.log(val);
    $('#p').val(val);
    
　　});
 
    $(function(){
        
       var query = location.search;
       var value = query.split('=');
       
 　　 
           $('#result_text').text(decodeURIComponent(value[1]));
          
           
    });
    
    
    function regist() {
        
        if ($('[name=st').val()=="") {
            
            alert("業務の種類を選択してください。");
            $('#stid').click();
            
        } else {
            
           $('#tou').submit();
        
        }
    
    }

    
 </script>
